[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
psycopg2-binary = "*"
spacy = "*"
en_core_web_sm = {file = 'https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz'}
init = "*"
download-tarball = "*"
passlib = "*"
flask-wtf = "*"
wtforms-components = "*"
itsdangerous = "*"
flask-mail = "*"
sqlalchemy = "*"
sklearn = "*"
docx2txt = "*"
pypdf2 = "*"

[dev-packages]

[requires]
python_version = "3.7"
