
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #FFFFFF;
    background-color: #111111;
    width:100%;
    overflow-y: auto;
    overflow: auto;
}

    body .search {
        overflow: hidden;
    }

ul {
    list-style: none;
    border: 20px;
}

li {
    margin: 6px;
}

    li a {
        text-decoration: none;
        color: #FFFFFF;
        margin: 20px;
        font-size: 14px;
    }

        li a:hover {
            text-decoration: underline;
            text-decoration-color: #AAAAAA;
            transition-duration: 0.4s;
            color: #AAAAAA;
        }

h1, h2 {
    font-weight: 200;
    line-height: 1.2;
}

.navigation {
    position: relative;
    top: 0;
    display: flex;
    margin: auto;
    font-family: sans-serif;
    background-color: #111111;
    justify-content: space-between;
    align-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
    padding-left: 20px;
}

    .navigation img {
        display: flex;
        height: 20%;
    }

    .navigation ul {
        display: flex;
        opacity: 1;
        height: 20%;
        padding-top: 28px;
        padding-right:4px;
    }

    .navigation .navigator-small {
        display: none;
        flex-direction:column;
        opacity:1;
        height:20%;
        cursor: pointer;
        padding-top: 28px;
        
    }

.navigator ul {
    display: flex;
    opacity: 1;
    height: 20%;
    padding-top: 28px;
}

.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1;
    margin-bottom: 20px;
}

.showcase-item {
    width: inherit;
    height: inherit;
    position: absolute;
    bottom: 0%;
    opacity: 0;
    animation: changeImages 56s infinite;
}

    .showcase-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: zoom 56s infinite;
    }

    .showcase-item:nth-child(1),
    .showcase-item:nth-child(1) img {
        animation-delay: 0s;
    }

    .showcase-item:nth-child(2),
    .showcase-item:nth-child(2) img {
        animation-delay: 14s;
    }

    .showcase-item:nth-child(3),
    .showcase-item:nth-child(3) img {
        animation-delay: 28s;
    }

    .showcase-item:nth-child(4),
    .showcase-item:nth-child(4) img {
        animation-delay: 42s;
    }

    .showcase-item:nth-child(5),
    .showcase-item:nth-child(5) img {
        animation-delay: 56s;
    }

.showcase-item-text {
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.8);
    color: #FFFFFF;
    padding: 6rem 6rem;
}

    .showcase-item-text h4 {
        font-size: 1.6rem;
        font-family: sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .showcase-item-text p {
        font-size: 1.1rem;
        font-family: sans-serif;
        letter-spacing: 1px;
        margin-top: 14px;
    }

.show_search {
    width: 60vw;
    position: relative;
    padding-top: 12%;
    margin: auto;
    z-index: -100;
}

.search_box {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
}

.select-box .options-container {
    background: #111111;
    color: #FFFFFF;
    max-height: 0;
    width: 100%;
    opacity:0;
    transition: all 0.4s;
    border-radius: 12px;
    border: 2px solid #AAAAAA;
    overflow: hidden;
    order:1;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;

}

    .select-box .options-container::-webkit-scrollbar {
        width: 8px;
        background: #AAAAAA;
        border-radius: 0 12px 12px 0;
    }

    .select-box .options-container::-webkit-scrollbar-thumb {
        width: 8px;
        background: #c44e00;
        border-radius: 0 12px 12px 0;
    }

.selected {

    position: relative;
    background-color:#111111;
    text-align:center;
    width:140px;
    font-size:1rem;
    font-weight:bold;
    border: 4px solid #AAAAAA;
    padding-top: 12px;
    border-right: none;
    border-top-left-radius:12px;
    border-bottom-left-radius:12px;
    height:60px;
    margin-bottom: 8px;
    cursor:pointer;

}


    .selected::after {
        content: "";
        background: url("arrow_down.png");
        background-size: contain;   
        background-repeat: no-repeat;
        position: absolute;
        height:20px;
        width: 12px;
        right: 6px;
        top:18px;
        transition: all 0.4s;

    }

.select-box .options-container.active + .selected::after {
    
    transform: rotateX(180deg);
    top: 8px;
    
}

.select-box {
    display:flex;
    position:relative;
    flex-direction:column;
    order:0;
    width: auto;
    margin-bottom:8px;
}

.select-box .option,
selected {
    padding: 12px 24px;
    cursor: pointer;
    font-size:0.8em;
    font-weight: bold;
    text-align:center;
    pointer-events: inherit;
}

    .select-box label {
        cursor: pointer;
    }

    .select-box .option:hover {
        background-color: #AAAAAA;
        color: #111111;
    }
    .select-box .option .radio {
        display: none;
    }

.search_bar {
    text-align: center;
    width: 100%;
    border: 4px solid #AAAAAA;
    border-left: none;
    border-right: none;
    padding: 4px;
    height: 60px;
    outline: none;
    z-index: 4;
    color: #FFFFFF;
    background-color: #111111;
    font-weight: bold;
    font-size: 1rem;
    font-family: sans-serif;
}

    .search_bar:after {
        text-align: center;
        color: #111111;
    }

    .search_bar:focus {
        color: #111111;
        box-shadow: 0 0 12px #AAAAAA;
       
    }

::placeholder {
    color: #111111;
    font-weight: bold;
}


.search_button {
    margin-left: -8px;
    outline: none;
    border-left: none;
    border: 1px solid #AAAAAA;
    background: #AAAAAA;
    border-bottom-right-radius:12px;
    border-top-right-radius:12px;
    width: 80px;
    height: 60px;
}

    .search_button:active {
        background: #111111;
        box-shadow: 0 0 12px #AAAAAA;
    }

video {
    position: absolute;
    width:100%;
    height:100vh;
    z-index: -100;
    object-fit: cover;
}

.footer {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 0.8em;
    position: fixed;
    width: 100%;
    background-color: #111111;
    height: 40px;
    bottom: 0;
}

    .footer .footer_content {
        position: relative;
        top: 25%;
    }

    .navigator-small div {

        width:25px;
        height: 2.4px;
        background-color:#FFFFFF;
        margin: 4px;
    }

.navigator_second {
    display: none;    
}

#v2 {
    max-width: 20%;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.8);
    color: #FFFFFF;
    padding: 6rem 6rem;
}

.info {

    display: flex;
    
    
}

.display {
    
    position: absolute;
    background: url(employer_section.jpg);
    background-size: cover;
    position: absolute;
    margin-left: 20px;
    width: 96vw;
    height: 240vh;
    
}

.jobs_display {
    position: absolute;
    background: url(talent.jpg);
    background-size: cover;
    position: absolute;
    margin-left: 20px;
    width: 96vw;
    height: 240vh;
}

.features_display {

    display: flex;
    flex-direction: column;
    position: relative;
    margin-top:118px;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}

.custom_introduction {
    color: #FFFFFF;
}


.introduction {
    width: 74%;
    padding: 40px;
}

    .introduction h1 {

        font-weight: bold;
        font-family: sans-serif;
        text-align: center;
        margin-bottom: 28px;
    }

    .introduction > div p {

        padding: 12px;
        font-size: 1.2rem;
        font-family: sans-serif;
        line-height: 1.4rem;
        text-align: center;
        font-weight: bold;
    }

.redirect_link {

    display: inline-block;
    background-color: #FFFFFF;
    color: #111111;
    border-radius: 8px;
    font-weight: bold;
    margin-left: 200px;
    margin-top: 20px;
    outline: none;  
    font-family:sans-serif;
    padding: 12px;
    cursor: pointer;
}

    .redirect_link:hover {
        transition-duration: 0.4s;  
        background-color: #AAAAAA;
    }

.description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    background-color: rgba(0,0,0,0.8);
    padding: 12px;
    margin-top: 40px;
    max-width: 68vw;
    text-align: left;
  
}

    .description:nth-child(2n+1) img {
        order:2;
    }

    .description img {
        
        height: 260px;
       
    }

    .description h3 {
        margin-bottom: 20px;
        text-align: center;
    }

.description > div {
    
    padding: 12px;
    font-size: 1.0rem;
    font-family: sans-serif;
    line-height: 1.6rem;
}

.employer_link {
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 8px;
    color: #111111;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 170px;
    font-family: sans-serif;
    padding: 12px;
    cursor: pointer;
}

    .employer_link:hover {
        transition-duration: 0.4s;
        background-color: #AAAAAA;
    }

.contact_display {
    
    position: absolute;
    background: url(contact_us.jpg);
    background-size: cover;
    position: absolute;
    margin-left: 20px;
    width: 96vw;
    height: 160vh;
   

}

    .contact_display h1 {
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
    }

.contact_form {
   
    max-width: 1200px;
    border-radius: 8px;
    display: flex;
    position: relative;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: rgba(0, 0, 0, 0.8)
}

.input_fields {
    
    display: flex;
    flex-direction:column;
    margin-right: 6%;
    
}

.input_fields, .message {
    width: 40%;
}

.input_fields .input, .message textarea{
    margin: 12px 0;
    background: transparent;
    border: 0;
    border-bottom: 4px solid #AAAAAA;
    padding: 12px;
    color: #FFFFFF;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    
}

    .input_fields .input {
        outline: none;
    }

.contact_button {
    border: 2px solid #AAAAAA;
    background: none;
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.contact_button:hover {
    transition-duration: 0.4s;
    background-color: #AAAAAA;
    color: #111111;
}

.message textarea{

    height: 400px;
}

::-webkit-input-placeholder {

    margin-top: 50%;
    color: #FFFFFF;
    text-align: center;
}


::-moz-placeholder {
    margin-top: 50%;
    color: #FFFFFF;
    text-align: center;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}
    

.login_display {

    position: absolute;
    background: url(login.jpg);
    background-size: cover;
    position: absolute;
    margin-left: 20px;
    width: 96vw;
    height: 100vh;
}

.login_form {

    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    
}

.login_page {
   
   margin: 0 auto;  
}

    .login_page h1 {
        margin-bottom: 46px;
        border-bottom: 6px solid #AAAAAA;
        width: 40%;
    }

    .login_page .textbox {
        width: 800px;
        height: 80px;
        background: none;
        border: none;
    
    }

        .login_page .textbox input {

            border-bottom: 4px solid #AAAAAA;
        }

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 24px;
    padding: 8px;
}

.textbox i {
    margin-right: 24px;
    
    
}

    .textbox input {
        font-family: sans-serif;
        font-size: 18px;
        border: none;
        background: none;
        color: #FFFFFF;
        text-align: left;
        width: 340px;
        font-weight: bold;
        outline: none;
    }

.login_button {
    width: 100%;
    background: none;
    margin-top: 12px;
    border: 2px solid #AAAAAA;
    color: #FFFFFF;
    text-align: left;
    padding: 4px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    border-radius: 6px;
}

    .login_button:hover {
        transition-duration: 0.4s;
        background-color: #AAAAAA;
        color: #111111;
    }

.login_display h2{

    font-size: 28px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    margin-top: 84px;
}

.account_selection {
    display: flex;
    position: relative;
    top:260px;
    left:50%;
    font-size: 18px;
    height: 400px;
    transform: translate(-50%, -50%);
    width: 48%;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    
}

.job_seeker_button {
    text-align: center;
    width: 268px;
    font-weight: bold;
    height: 80px;
    border-radius: 48px;
    background-color: rgba(0,0,0,0.6);
    border: 2px solid #AAAAAA;
    margin-right: 12px;
    opacity: 1;
    font-family: sans-serif;
    color: #FFFFFF;
    cursor: pointer;
}

    .job_seeker_button p {
        
            margin-top: 22px;
    }

    

    .job_seeker_button:hover {

        transition-duration: 0.8s;
        background-color: #AAAAAA;
        opacity: 0.4;
        color: #111111;
    }

.employer_button {
    text-align: center;
    width: 268px;
    font-weight: bold;
    height: 80px;
    border-radius: 48px;
    background-color: rgba(0,0,0,0.6);
    border: 2px solid #AAAAAA;
    opacity: 1;
    font-family: sans-serif;
    color: #FFFFFF;
    cursor: pointer;
}
.employer_button p {
    margin-top: 22px;
}

    .employer_button:hover {
        transition-duration: 0.8s;
        background-color: #AAAAAA;
        opacity: 0.4;
        color: #111111;
    }

a {
    text-decoration: none;
}

.success {
    background-color: green;
    opacity: 0.6;
    text-align: center;
    margin-bottom: 12px;
    color:#FFFFFF;
}

.fail {
    background-color: red;
    opacity: 0.6;
    margin-bottom: 12px;
    text-align: center;
    color: #FFFFFF;
}

@keyframes changeImages {
    25% {
        opacity: 1;
    }

    40% {
        opacity: 0;
        text-transform: none;
    }
}

@keyframes zoom {
    100% {
        transform: scale(0.6);
    }
}

@media screen and (max-width: 1000px) {

    .showcase-item-text {
        max-width: 70%;
        padding: 4rem 4rem;
    }

        .showcase-item-text h4 {
            font-size: 1.4rem;
        }

        .showcase-item-text p {
            font-size: 1.1rem;
        }
}

@media screen and (max-width: 767px) {
    
    .showcase-item-text {
        max-width: 70%;
        padding: 4rem 4rem;
    }

        .showcase-item-text h4 {
            font-size: 1.4rem;
        }

        .showcase-item-text p {
            font-size: 1.1rem;
        }

}

@media screen and (max-width: 620px) {

    .contact_form {
        flex-direction: column;
    }

    .message textarea {

        height: 60px;
    }

    .input_fields, message {

        width: 100%;
    }

    body {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .selected {
        height: 40px;
        font-size: 0.4rem;
        padding-top: 11px;
        width: 88px;
    }

        .selected::after {
            top: 11px;
            width:8px;
            height: 16px;
        }
    .select-box .options-container.active + .selected::after {
        transform: rotateX(180deg);
        top: 2px;
        width:8px;
        height: 16px;
    }
    .select-box .option,
    selected {
        padding: 12px 16px;
        cursor: pointer;
        font-size: 0.4em;
        font-weight: bold;
        text-align: center;
        pointer-events: inherit;
    }

    .search_bar {
        height: 40px;
        font-size: 0.4rem;
    }

    .search_button {
        height:40px;
    }

    .navigator {
        display: none;
    }

    .navigation .navigator-small {
        display: flex;
        padding-right: 8px;
        cursor: pointer;
    }

    .navigator_second {
        display: flex;
        position: absolute;
        right:0px;
        width: 34%;
        height: 100%;
        top: 12vh;
        background-color: #111111;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;     
    }

    .navigator_second ul{
        display: flex;
        flex-direction: column;
        height: 40%; 
        justify-content: space-between;
    }

    .navigation .login {
        display: none;
    }

   
    .showcase-item-text h4 {
        font-size: 1.1rem;
    }

    .showcase-item-text p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 200px) {

    .showcase-item-text h4 {
        font-size: 0.4rem;
    }

    .showcase-item-text p {
        font-size: 0.4rem;
    }
}

.nav-active {
    transform: translateX(0%);
}

@media (max-width: 1180px) {
    .display {
        z-index: -100;
        position: absolute;
        background: #111111;
        background-size: cover;
        position: absolute;
        margin-left: 20px;
        width: 96vw;
        height: 700vh;
    }

    .jobs_display {
        z-index: -100;
        position: absolute;
        background: #111111;
        background-size: cover;
        position: absolute;
        margin-left: 20px;
        width: 96vw;
        height: 700vh;
    }

    .info {
        z-index: -100;
    }



    .contact_display {
        z-index: -100;
    }

    .contact_form {
        z-index: -100;
    }

    .login_display {
        z-index: -100;
    }

    .login_form {
        z-index: -100;
    }
    
    .description {
        display:block;
        min-width: 40%; 
    }

        .description img {
            
            height: 30vh;
        }

        .description h3 {

            text-align:left;
        }

    .redirect_link {
        display: inline-block;
        background-color: #FFFFFF;
        color: #111111;
        font-weight: bold;
        margin-left: 0px;
        font-family: sans-serif;
        padding: 12px;
        cursor: pointer;
    }

        .redirect_link:hover {
            transition-duration: 0.4s;
            background-color: #AAAAAA;
        }

}
