<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="shortcut icon" type="image/png" href="../static/favicon.png" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://kit.fontawesome.com/d804404426.js" crossorigin="anonymous"></script>
    
    <title>Account Settings</title>
</head>
<body>

    <!--Navigation Bar-->
    <header>

        <div class="navigation">

            <form action="/" method="post">
                <input type="Image" class="Logo" src="../static/WorkNow.png">
            </form>

            <ul class="account_menu">
                <li class="welcome">{{user.candidate}}</p></li>
                <li class="account_select" onclick="accountToggle();"><i data-status="on" id="account_button" class="far fa-user-circle"></i></li>
            </ul>

        </div>

    </header>

    <main>

        <div class="dashboard">

            <div class="user_dashboard">

                <img class="account_picture" src="{{image_file}}" />

                <h2>{{user.candidate}} {{user.last}}</h2>

                <div class="functions">
                    <a href="/information/"><i class="fas fa-poll-h"></i>Dashboard</a>
                    <a href="/submissions/"><i class="fas fa-briefcase"></i>CV Submission Results</a>
                    <a href="/search" hre><i class="fas fa-paste"></i>Apply For Job</a>
                    <a href="/candidate_settings"><i class="fas fa-wrench"></i>Account Settings</a>
                    <a href="/logout"><i class="fas fa-sign-out-alt"></i>Log Out</a>

                </div>

            </div>

            <div class="welcome_page">
                <h2>Account Settings</h2>

                <div class="update">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>

                <div class="profile_home">
                    <p>
                        Edit your profile description to be displayed on the website and change other account preferences.
                    </p>

                </div>

                <div class="settings_display">

                    <form action="/candidate_settings/" class="resume_upload" method="post" enctype="multipart/form-data">
                        <div class="settings_items">
                            <img src="{{image_file}}" />
                            {{ form.csrf_token }}
                            {{form.picture(class="select_image")}}
                            <input type="submit" class="settings_button" value="Change Picture" />

                        </div>
                    </form>

                </div>

                <div class="settings_display">

                    <form action="/upload_description/" method="post">

                        <div class="settings_items">
                            <textarea maxlength="1600" class="profile_description" name="description" placeholder="New Profile Description" required>{{user.profile}}</textarea>
                            <input type="submit" class="settings_button_2" value="Change Description" />

                        </div>
                    </form>

                </div>

                <div class="settings_display">
                    <form action="/upload_password/" method="post">
                        <div class="settings_items">
                            <input type="password" name="password" class="password_field" placeholder="New Password" required></input>
                            <input type="submit" class="password_button" value="Change Password" />

                        </div>
                    </form>

                </div>

                <div class="settings_display">
                    <form action="/candidate_settings/" method="post" enctype="multipart/form-data">

                        <div class="settings_items">

                            {{ resumeForm.csrf_token }}
                            {{resumeForm.resume(class="select_resume")}}
                            <input type="submit" class="settings_button" value="Change Resume" />
                            <input type="submit" class="settings_button" value="Delete Account" />

                        </div>
                    </form>

                </div>

                

            </div>

            <div class="account">

                <a href="/employer_settings"><i class="fas fa-user"></i>Account</a>
                <a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>

            </div>
        </div>

    </main>

    <script src="../static/script.js"></script>
    
</body>

</html>
