<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="shortcut icon" type="image/png" href="../static/favicon.png" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://kit.fontawesome.com/d804404426.js" crossorigin="anonymous"></script>
    <title>Why Us?</title>
</head>
<body>

    <!--Navigation Bar-->
    <header>

        <div class="navigation">

            <form action="/" method="post">
                <input type="Image" class="Logo" src="../static/WorkNow.png">
            </form>

            <nav class="navigator">
                <ul>
                    <li><a href="/search">Job Search</a></li>
                    <li><a href="/employers">Employers</a></li>
                    <li><a href="/choice">Why Us?</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>

            <ul class="login">
                {% if user.candidate %}
                <li><a href="/login">Account</a></li>
                {% elif user.employer %}
                <li><a href="/login">Account</a></li>
                {% else %}
                <li><a href="/login">Login/Register</a></li>
                {% endif %}
            </ul>

            <div class="navigator-small" id="navigate" onclick="navigation()">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="last"></div>

            </div>

        </div>

        <nav class="navigator_second" id="navigator">
            <ul>
                <li><a href="/search">Job Search</a></li>
                <li><a href="/employers">Employers</a></li>
                <li><a href="/choice">Why Us?</a></li>
                <li><a href="/contact">Contact</a></li>
                {% if user.candidate %}
                <li><a href="/login">Account</a></li>
                {% elif user.employer %}
                <li><a href="/login">Account</a></li>
                {% else %}
                <li><a href="/login">Login/Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>

        <div class="info">
            <div class="jobs_display">
                <div class="features_display">

                    <div class="introduction">
                        <div class="custom_introduction">
                            <h1>Begin Your Journey</h1>
                            <p>
                                We offer a diverse range of functionality as outlined below...
                            </p>
                        </div>


                    </div>

                    <div class="description">

                        <img src="../static/search_results.jpg" />
                        <div class="description_item">
                            <h3>Find Jobs</h3>
                            <p>
                                If you are just interested in finding a job in your area, wonder no more! We have a vast
                                selection of jobs to choose from. Simply, go to our search page and begin your career journey with us.<br />
                            </p>
                            
                                <a href="search"><button class="redirect_link">Search Jobs</button></a>


                            
                        </div>
                        </div>
                    <div class="description" data-aos="fade-left">

                        <img src="../static/interview.jpg" />
                        <div class="description_item">
                            <h3>Seek Out Talent</h3>
                            <p>
                                If you are part of a business that is seeking talent for new roles in your company, let us find you the right candidates and invite them
                                to your interview stage. <br /> <a href="employers">
                            </p>
                            
                             <a href="employers"><button class="employer_link">Employer Section</button></a>

                            

                        </div>
                        </div>

                    <div class="description" data-aos="fade-right">

                        <img src="../static/interview_meeting.jpg" />
                        <div class="description_item">
                            <h3>Fast Results</h3>
                            <p>
                                How many times, have you asked yourself if your resume was enough to be selected to the next stage? Sometimes, you may not even get an answer.
                                <br /><br />Well, with WorkNow you can truly start to WorkNow, as your application result arrives to your inbox in seconds.

                            </p>
                        </div>
                    </div>

                    <div class="description" data-aos="fade-left">

                        <img src="../static/registration.jpg" />
                        <div class="description_item">
                            <h3>Register Today</h3>
                            <p>
                                You can either register for a job seeker or an employer acccount, depending on which functionality you require.
                                The choice is yours, get started today! <br /><br />
                            </p>
                           
                                <a href="/registration_landing"><button class="redirect_link">Register</button></a>
                            

                        </div>
                </div>
            </div>
            <div class="footer">
                <div class="footer_content">
                    <p>&copy; WorkNow 2021</p>
                </div>
            </div>
        </div>

    </main>

    <script src="../static/script.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 240,
            duration: 1000

        });
    </script>




</body>
</html>