<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="shortcut icon" type="image/png" href="../static/favicon.png" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://kit.fontawesome.com/d804404426.js" crossorigin="anonymous"></script>
    <title>Contact Us</title>
</head>
<body>
    <!--Navigation Bar-->
    <header>

        <div class="navigation">

            <form action="/" method="post">
                <input type="Image" class="Logo" src="../static/WorkNow.png">
            </form>

            <nav class="navigator">
                <ul>
                    <li><a href="/search">Job Search</a></li>
                    <li><a href="/employers">Employers</a></li>
                    <li><a href="/choice">Why Us?</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>

            <ul class="login">
                {% if user.candidate %}
                <li><a href="/login">Account</a></li>
                {% elif user.employer %}
                <li><a href="/login">Account</a></li>
                {% else %}
                <li><a href="/login">Login/Register</a></li>
                {% endif %}
            </ul>

            <div class="navigator-small" id="navigate" onclick="navigation()">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="last"></div>

            </div>

        </div>

        <nav class="navigator_second" id="navigator">
            <ul>
                <li><a href="/search">Job Search</a></li>
                <li><a href="/employers">Employers</a></li>
                <li><a href="/choice">Why Us?</a></li>
                <li><a href="/contact">Contact</a></li>
                {% if user.candidate %}
                <li><a href="/login">Account</a></li>
                {% elif user.employer %}
                <li><a href="/login">Account</a></li>
                {% else %}
                <li><a href="/login">Login/Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        
        <div class="info">
            <div class="contact_display">
                
                <form name="contact" action="post">
                    <div class="contact_form">
                        <div class="input_fields">
                            <input type="text" class="input" placeholder="Subject" required />
                            <input type="text" class="input" placeholder="First Name" required />
                            <input type="text" class="input" placeholder="Last Name" required />
                            <input type="text" class="input" placeholder="Email" required />
                            <input type="text" class="input" placeholder="Phone" required />
                        </div>
                        <div class="message">
                            <textarea placeholder="Write Message" required></textarea>
                            <div class="contact_button">Send</div>
                        </div>
                

            </div>
            </form>
        </div>
            
        <div class="footer">
            <div class="footer_content">
                <p>&copy; WorkNow 2021</p>
            </div>
        </div>
        </div>
    </main>

    <script src="../static/script.js"></script>


</body>
</html>