<!DOCTYPE html>
<html>
<head>

    <style type="text/css">
    body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
    .ExternalClass {width:100%;}
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
</style>




</head>
<body>

    <div id="email_wrapper" style="background-color:rgb(0,0,0,0.8)">
        <header>

            <div id="logo">
                <img src="https://cloud1.email2go.io/dc2b690516158a874dd8aabe1365c6a0/0eb5a3e1f6acce56d7348dcd1643289e2af6944dcfa6822551605b459da63cdc.png" />

            </div>



        </header>



    </div>





</body>



</html>