<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="../static/favicon.png" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="https://kit.fontawesome.com/d804404426.js" crossorigin="anonymous"></script>
    <title>WorkNow</title>
</head>
<body>

    <!--Navigation Bar-->
    <header>

        <div class="navigation">

           
            <input type="Image" class="Logo" src="../static/WorkNow.png">
           

            <nav class="navigator">
                <ul>
                    <li><a href="/search">Job Search</a></li>
                    <li><a href="/employers">Employers</a></li>
                    <li><a href="/choice">Why Us?</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>

            <ul class="login">
                {% if user.candidate %}
                <li><a href="/login">Account</a></li>
                {% elif user.employer %}
                <li><a href="/login">Account</a></li>
                {% else %}
                <li><a href="/login">Login/Register</a></li>
                {% endif %}
            </ul>

            <div class="navigator-small" id="navigate" onclick="navigation()">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="last"></div>

            </div>

        </div>

        <nav class="navigator_second" id="navigator">
            <ul>
                <li><a href="/search">Job Search</a></li>
                <li><a href="/employers">Employers</a></li>
                <li><a href="/choice">Why Us?</a></li>
                <li><a href="/contact">Contact</a></li>
                {% if user.candidate %}
                <li><a href="/login">Account</a></li>
                {% elif user.employer %}
                <li><a href="/login">Account</a></li>
                {% else %}
                <li><a href="/login">Login/Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <!--Showcase-->
    <main>
        <div class="showcase">

            <div class="showcase-item">
                <img src="../static/AI.jpg" alt="Artificial Intelligence" />
                <div class="showcase-item-text">
                    <h4>Powered By AI</h4>
                    <p>
                        Get results immediately, whether you are looking for a job or valuable talent and begin to WorkNow!
                    </p>
                </div>
            </div>

            <div class="showcase-item">
                <img src="../static/candidates.jpg" alt="Candidates" />
                <div class="showcase-item-text">
                    <h4>Job Seekers</h4>
                    <p>
                        Your application result and that important interview stage awaits you in seconds.
                    </p>
                </div>
            </div>

            <div class="showcase-item">
                <img src="../static/employer.jpg" alt="Employer" />
                <div class="showcase-item-text">
                    <h4>Employers</h4>
                    <p>
                        No more checking resumes. Our artificial intelligence does the work for you.
                    </p>
                </div>
            </div>

            <div class="showcase-item">
                <img src="../static/jobs.jpg" alt="Job Search" />
                <div class="showcase-item-text">
                    <h4>Are you ready to search?</h4>
                    <p>
                        Begin the important journey of your career immediately.
                    </p>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer_content">
                <p>&copy; WorkNow 2021</p>
            </div>
        </div>
    </main>

    <script src="../static/script.js"></script>
</body>



</html>