<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="../static/favicon.png" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="https://kit.fontawesome.com/d804404426.js" crossorigin="anonymous"></script>
    <title>Login/Register</title>
</head>
<body>

    <!--Navigation Bar-->
    <header>

        <div class="navigation">

            <form action="/" method="post">
                <input type="Image" class="Logo" src="../static/WorkNow.png">
            </form>

            <nav class="navigator">
                <ul>
                    <li><a href="/search">Job Search</a></li>
                    <li><a href="/employers">Employers</a></li>
                    <li><a href="/choice">Why Us?</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>

            <ul class="login">
                <li><a href="/login">Login/Register</a></li>
            </ul>

            <div class="navigator-small" id="navigate" onclick="navigation()">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="last"></div>

            </div>

        </div>

        <nav class="navigator_second" id="navigator">
            <ul>
                <li><a href="/search">Job Search</a></li>
                <li><a href="/employers">Employers</a></li>
                <li><a href="/choice">Why Us?</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login">Login/Register</a></li>
            </ul>
        </nav>
    </header>


</body>
</html>