<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="../static/favicon.png" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="https://kit.fontawesome.com/d804404426.js" crossorigin="anonymous"></script>
    <title>Job Search</title>
</head>
<body class="search">

    
    <!--Navigation Bar-->
    <header>

        <div class="navigation">

            <form action="/" method="post">
                <input type="Image" class="Logo" src="../static/WorkNow.png">
            </form>

            <nav class="navigator">
                <ul>
                    <li><a href="/search">Job Search</a></li>
                    <li><a href="/employers">Employers</a></li>
                    <li><a href="/choice">Why Us?</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>

            <ul class="login">
                {% if user.candidate %}
                <li><a href="/login">Account</a></li>
                {% elif user.employer %}
                <li><a href="/login">Account</a></li>
                {% else %}
                <li><a href="/login">Login/Register</a></li>
                {% endif %}
            </ul>

            <div class="navigator-small" id="navigate" onclick="navigation()">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="last"></div>

            </div>

        </div>

        <nav class="navigator_second" id="navigator">
            <ul>
                <li><a href="/search">Job Search</a></li>
                <li><a href="/employers">Employers</a></li>
                <li><a href="/choice">Why Us?</a></li>
                <li><a href="/contact">Contact</a></li>
                {% if user.candidate %}
                <li><a href="/login">Account</a></li>
                {% elif user.employer %}
                <li><a href="/login">Account</a></li>
                {% else %}
                <li><a href="/login">Login/Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <div class="search_area">
            <video src="../static/journey.mp4" autoplay loop muted></video>
          
            <div class="show_search">
                <form action="/search_results" method="post">
                    <div class="feedback">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="search_box">

                        <div class="select-box">

                            <div class="options-container">

                                <label class="option">
                                    <input type="radio" class="radio" id="all" name="category" value="Any">
                                    <label for="all">Any</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="antrim" name="category" value="Antrim" />
                                    <label for="antrim">Antrim</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="armagh" name="category" value="Armagh" />
                                    <label for="armagh">Armagh</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="belfast" name="category" value="Belfast" />
                                    <label for="belfast">Belfast</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="carlow" name="category" value="Carlow" />
                                    <label for="carlow">Carlow</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="cavan" name="category" value="Cavan" />
                                    <label for="cavan">Cavan</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="clare" name="category" value="Clare" />
                                    <label for="clare">Clare</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="cork" name="category" value="Cork" />
                                    <label for="cork">Cork</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="derry" name="category" value="Derry" />
                                    <label for="derry">Derry</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="donegal" name="category" value="Donegal" />
                                    <label for="donegal">Donegal</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="down" name="category" value="Down" />
                                    <label for="down">Down</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="dublin" name="category" value="Dublin" />
                                    <label for="dublin">Dublin</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="fermanagh" name="category" value="Fermanagh" />
                                    <label for="fermanagh">Fermanagh</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="galway" name="category" value="Galway" />
                                    <label for="galway">Galway</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="kerry" name="category" value="Kerry" />
                                    <label for="kerry">Kerry</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="kildare" name="category" value="Kildare" />
                                    <label for="kildare">Kildare</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="kilkenny" name="category" value="Kilkenny" />
                                    <label for="kilkenny">Kilkenny</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="laois" name="category" value="Laois" />
                                    <label for="laois">Laois</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="leitrim" name="category" value="Leitrim" />
                                    <label for="leitrim">Leitrim</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="limerick" name="category" value="Limerick" />
                                    <label for="limerick">Limerick</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="longford" name="category" value="Longford" />
                                    <label for="longford">Longford</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="louth" name="category" value="Louth" />
                                    <label for="louth">Louth</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="mayo" name="category" value="Mayo" />
                                    <label for="mayo">Mayo</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="meath" name="category" value="Meath" />
                                    <label for="meath">Meath</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="monaghan" name="category" value="Monaghan" />
                                    <label for="monaghan">Monaghan</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="offaly" name="category" value="Offaly" />
                                    <label for="offaly">Offaly</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="roscommon" name="category" value="Roscommon" />
                                    <label for="roscommon">Roscommon</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="sligo" name="category" value="Sligo" />
                                    <label for="sligo">Sligo</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="tipperary" name="category" value="Tipperary" />
                                    <label for="tipperary">Tipperary</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="tyrone" name="category" value="Tyrone" />
                                    <label for="tyrone">Tyrone</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="waterford" name="category" value="Waterford" />
                                    <label for="waterford">Waterford</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="westmeath" name="category" value="Westmeath" />
                                    <label for="westmeath">Westmeath</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="wexford" name="category" value="Wexford" />
                                    <label for="wexford">Wexford</label>
                                </label>

                                <label class="option">
                                    <input type="radio" class="radio" id="wicklow" name="category" value="Wicklow" />
                                    <label for="wicklow">Wicklow</label>
                                </label>


                            </div>

                            <div class="selected" id="select">
                                Location
                            </div>

                        </div>


                        <input type="text" name="search_query" class="search_bar" value="Search Job Position" onblur="if(this.value==''){ this.value='Search Job Position'; this.style.color='#FFFFFF';}"
                               onfocus="if(this.value=='Search Job Position'){ this.value=''; this.style.color='#FFFFFF';}"
                               style="color:#FFFFFF;" />"
                        <button type="submit" class="search_button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>

                </form>

            </div>

            <div class="footer">
                <div class="footer_content">
                    <p>&copy; WorkNow 2021</p>
                </div>
            </div>

        </div>

       

    </main>
    <script src="../static/script.js"></script>
</body>


</html>